/**_variables Start**/
$body-bg-color: #fff;
$padding: 10px 20px;
$border-radius:25px;


$left-bg-color: #0B93F6;
$left-text-color:#fff;

$right-bg-color: #E5E5EA;
$right-text-color:#000;



/**_variables  End**/
